:root {
    --bg0-h: #1d2021;
    --bg0: #282828;
    --bg0-s: #32302f;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;
    --gray: #928374;
    --fg0: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    /* filter: invert(86%) sepia(33%) saturate(240%) hue-rotate(358deg) brightness(88%) contrast(89%); */
    --fg3: #bdae93;
    --fg4: #a89984;
    --red1: #cc241d;
    /* filter: invert(18%) sepia(64%) saturate(2183%) hue-rotate(340deg) brightness(123%) contrast(111%); */
    --red2: #fb4934;
    /* filter: invert(32%) sepia(23%) saturate(4832%) hue-rotate(340deg) brightness(114%) contrast(97%); */
    --green1: #98971a;
    --green2: #b8bb26;
    /* filter: invert(79%) sepia(64%) saturate(570%) hue-rotate(9deg) brightness(88%) contrast(81%); */
    --yellow1: #d79921;
    /* filter: invert(65%) sepia(99%) saturate(778%) hue-rotate(350deg) brightness(91%) contrast(83%); */
    --yellow2: #fabd2f;
    /* filter: invert(82%) sepia(99%) saturate(5378%) hue-rotate(328deg) brightness(100%) contrast(96%); */
    --blue1: #458588;
    --blue2: #83a598;
    --purple1: #b16286;
    --purple2: #d3869b;
    --aqua1: #689d6a;
    --aqua2: #8ec07c;
    --orange1: #d65d0e;
    /* filter: invert(39%) sepia(68%) saturate(2395%) hue-rotate(4deg) brightness(91%) contrast(89%); */
    --orange2: #fe8019;
    /* filter: invert(54%) sepia(53%) saturate(1879%) hue-rotate(349deg) brightness(102%) contrast(99%); */

    --background-color: var(--bg0-h);
    /* --background-color: #FF00;     */
    --text-color: var(--aqua2);

    --weather-background-color: var(--orange1);
    --weather-text-color: var(--fg1);
    --weather-text-accent-color: var(--fg1);
    --weather-sun-color: var(--yellow1);

}

body {
    background-color: var(--background-color);
    font-family: monospace;
    color: var(--text-color);
    text-shadow: 0px 0px 2px var(--yellow2);
    height: 100%;
}

a {
    font-size: inherit;
    color: var(--text-color);
}

#center-piece {
    font-size: 90px;
    /* margin: auto; */
    /* width: 100%; */

    /* height: 100%; */
    /* text-align: center; */
}

#content {
    /* height: 100%; */
    /* margin: auto; */

    vertical-align: middle;
    align-items: center;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    grid-template-areas:
    'sites aurora-panel'
    'sites weather-panel'
    ;
}

#sites {
    grid-area: sites;
}

.folder {
    font-size: 20px;
    margin-bottom: 1em;
}

.linked {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin-left: 20px;
}

.link {

    padding: 10px;
    width: 100px;
    height: 123px;
    /* content: center; */
    align-items: center;
    text-align: center;
    margin: 3px;
    overflow: hidden;

    background-color: var(--bg0);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--background-color);
}

.link:hover {
    border-color: var(--fg3);
    border-style: solid;
    /* border-style: ; */
}

.link img {
    width: 100%;
    /* height: 100%; */
    /* height: 100px; */
    /* max-height: 100px; */
}

.link a {
    /* flex: auto; */
    color: var(--blue2);
    text-shadow: 0px 0px 2px var(--yellow1);
    /* padding-top: 100%; */
    /* font-size: 20px; */
}

#aurora-panel {
    grid-area: aurora-panel;
    display: flex;
    /* align-items: center; */
    max-height: 300px;
}

#aurora-forecast {
    /* min-size: 300px 300px; */
    /* min-width: 300px; */
    /* width: 100%; */

    /* height: 100%; */
    /* margin-right: 10px; */
    /* vertical-align: middle; */
    margin: 5px;
    /* padding: 10px; */
    overflow: scroll;
    text-wrap: wrap;
    font-size: small;
}

#aurora-display {
    max-width: 300px;
    max-height: 300px;

    justify-content: center;
    align-items: center;
}

#aurora-display img {
    width: 100%;
}

#aurora-display canvas {
    width: 100%;
}


#aurora-forcast {
    text-wrap-mode: wrap;
}

#weather-panel {
    grid-area: weather-panel;
    /* align-items: center; */
    max-width: 440px;
}